<p id="notice"><%= notice %></p>

<h1>Produks</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Kategori</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produks.each do |produk| %>
      <tr>
        <td><%= produk.judul %></td>
        <td><%= produk.description %></td>
        <td><%= image_tag(produk.image_url,size: '100') %></td>
        <td><%= produk.price %></td>
        <td><%= produk.kategori.kategori %></td>
        <td><%= link_to 'Show', produk %></td>
        <td><%= link_to 'Edit', edit_produk_path(produk) %></td>
        <td><%= link_to 'Destroy', produk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produk', new_produk_path %>
