<!DOCTYPE html>
<html>
  <head>
    <title>Dshop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
    <div class="col-md-2">
    <ul class="list-group" style="position:fixed;width:150px">
      <li class="list-group-item"><h3><center>Menu</center></h3></li>
      <% if admin_signed_in? %>
        <li class="list-group-item"><%= link_to 'New Produk', new_produk_path %></li>
        <li class="list-group-item"><%= link_to('Logout', destroy_model_session_path, method: :delete) %></li>
      <% else %>
      <li class="list-group-item">
        <%= link_to('Home', toko_index_url)  %>
      </li>
      <%if model_signed_in? %>
        <li class="list-group-item"><%= link_to('Profile', destroy_model_session_path, method: :delete) %></li>
        <li class="list-group-item"><%= link_to('Logout', destroy_model_session_path, method: :delete) %></li>
      <% else %>
      <li class="list-group-item">
        <%= link_to('Login', new_model_session_path)  %>
      </li>
      <% end %>
      <li class="list-group-item">
        <%= link_to('Cart', carts_path)  %>
      </li>
      <%  end %>
    </ul>
    </div>
    <div class="col-md-10">
    <%= yield %>
  </div>
</div>
</div>
  </body>
</html>
